<%- include('header') %>

<form action="/users/add" method="post" enctype="multipart/form-data">
	<label for="name">Name</label>
	<input type="text" id="name" name="name" placeholder="Enter your name here" required="">

	<label for="email">Email</label>
	<input type="email" id="email" name="email" placeholder="Enter your email here" required="">

	<label for="telp">Telephone number</label>
	<input type="tel" id="telp" name="telp" placeholder="Enter your telephone number here">
	
	<label for="profilePict">Profile picture</label>
	<input type="file" id="profilePict" name="avatar">

	<button type="submit">Submit</button>
</form>

<%- include('footer') %>