<%- include('header') %>

<form action="/users/<%= userId %>?_method=put" method="post" enctype="multipart/form-data">
	
	<label for="name">Name</label>
	<input type="text" id="name" name="name" placeholder="Enter your name here" value="<%= userName %>">

	<label for="email">Email</label>
	<input type="email" id="email" name="email" placeholder="Enter your email here" value="<%= userEmail %>">

	<label for="telp">Telephone number</label>
	<input type="tel" id="telp" name="telp" placeholder="Enter your telephone number" value="<%= userTelp %>">

	<label for="profilePict">Profile picture</label>
	<input type="file" id="profilePict" name="avatar" value="<%= userImage %>">

	<img src="<%= userImage %>" alt="profile picture" style="max-width: 5%;">

	<button type="submit">Update</button>

</form>

<%- include('footer') %>