<%- include('header') %>

<img src="<%= userImage %>" alt="user profile picture" style="max-width: 10%;">
<p>Name: <%= userName %></p>
<p>Email: <%= userEmail %></p>
<p>Telp: <%= userTelp %></p>

<form action="/users/<%= userId %>?_method=delete" method='post'>
	<input type="hidden" name="_method" value="delete">
	<button type="submit">Delete user</button>
</form>

<a href="/users/<%= userId %>/update-form">Update user</a>

<%- include('footer')%>