<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
	</head>
	<body>
		<% if (users) { -%>

			<h1>Here is users list</h1>
			<div>
				<a href="/users/add-form">Add user</a>
			</div>

			<% users.map(user => { %>
				<div>
					<img src="<%= user.image %>" alt="user profile picture" style="max-width: 10%;">
					<p>
						Name: <a href="/users/<%= user.id %>"><%= user.name %></a>
					</p>
					<p>Email: <%= user.email %></p>
					<p>Telp: <%= user.telp %></p>
				</div>
				<br />
			<% }); %>

		<% } else { -%>	
			<p>There is no user yet.</p>
		<% } -%>

	</body>
</html>