<%- include('header') %>

<form action="/users/<%= userId %>?_method=put" method="post" enctype="multipart/form-data">
	
	<label for="name">Name</label>
	<input type="text" id="name" name="name" placeholder="Enter your name here">

	<label for="email">Email</label>
	<input type="email" id="email" name="email" placeholder="Enter your email here">

	<label for="telp">Telephone number</label>
	<input type="tel" id="telp" name="telp" placeholder="Enter your telephone number">

	<label for="profilePict">Profile picture</label>
	<input type="file" id="profilePict" name="avatar">

	<button type="submit">Update</button>

</form>

<%- include('footer') %>